/* .navbar {
  background-color: white;
  display: flex;
  justify-content: center;
}
.between {
  top: 14px;
  padding-bottom: 114px;
  padding-top: 114ppx;
}
.ptb-14 {
  padding-bottom: 114px;
  padding-top: 114ppx;
} */
