.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.carousel-indicators li {
  width: 6px; /* Điều chỉnh chiều rộng */
  height: 6px; /* Điều chỉnh chiều cao */
  margin: 0 3px; /* Điều chỉnh khoảng cách giữa các dấu hiệu */
  border-radius: 50%; /* Làm cho các dấu hiệu tròn */
  background-color: #ccc; /* Màu nền của các dấu hiệu */
  border: none; /* Loại bỏ viền */
  cursor: pointer;
  opacity: 1; /* Độ mờ của các dấu hiệu chưa được chọn */
}

